/* General Body Styles */
body {
  font-family: 'Poppins', serif;
  background-image: url('images/concrete_seamless.png');
  background-color: #f1f1f1;
}

/* Header and Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/* Navigation Links */
.nav_links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-direction: column;
}

.nav_item a {
  padding: 10px;
  color: blue;
}

/* Styling for Pricing Cards */
.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  flex-basis: 450px;
  border-radius: 50px 50px 0 0;
}

.card h3,
.card h4 {
  justify-content: center;
  text-align: center;
  width: 100%; 
}

.card > header {
  background: #288088;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
}

/* Gallery Styles */
.gallery {
  display: flex;                 
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  border: 10px solid #50C7C7;   
  margin: 10px;                  
  width: 300px;                  
  height: auto;                  
}

/* Responsive Design for screens wider than 900px */
@media (min-width: 900px) {
  .pricing {
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
  }
  
  .nav_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-direction: row;
  }

  .card {
    flex-basis: 275px;
  }

  body > header {
    position: sticky;
    top: 0;
  }
}

/* Animations */
@keyframes fadeInScaleUp {
  from {
    opacity: 0;
    width: 25px;
  }
  to {
    opacity: 1;
    width: 475px;
  }
}

#logo {
  animation: fadeInScaleUp 5s;
  width: auto;
}

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}

/* Print Styles */
@media print {
  body {
    font-family: Arial, Helvetica;
    background-image: none;
    background-color: #f1f1f1;
  }

  .nav_links {
    display: flex;
    list-style: none;
  }
  
  .gallery {
    display: none;
  }

  .pricing {
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-wrap: nowrap;
    width: 100%;
  }

  .card {
    flex-basis: 325px;
    border: 2px solid #45ADDD;
  }

  /* Add the emoji */
  .card li:nth-child(2)::after {
    content: "\1F44D";
  }

  h2#gallery {
    display: none;
  }

  footer{
    page-break-before: always;
  }

  .nav_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
  }
}